body, html {
  margin: 0;
  background-color: rgb(167, 154, 154);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: bisque;
  border-style: solid;
  border-width: 2px;
  padding: 0;
  margin: 0;
}

#title {
font-weight: 900;
padding: 5px;
}

#add {
  border-style: solid;
  border-width: 2px;
  padding: 5px;
  cursor: pointer;
}

#un {
  padding: 5px;
}

#container {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  border: solid;
  width: 98%;
  padding: .5vh;
  margin: .5vh;
  background-color: white;
}

#card-top {
  display: flex
}

.card-title {
  margin: 0;
  padding: 0;
}

.card-rating {
  margin: 0;
  margin-left: 5px;
  padding: 0;
}

.card-map {
  width: 98%;
  margin: 1vh;
  border-style: solid;
  align-self: center;
}